.grid {
  display: grid;
  grid-auto-rows: minmax(19.125rem, auto);
  gap: 1.875rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }
}
